html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

p {
  color: gray;
}

h2 {
  color: magenta;
}

img {
  margin: 0 auto;
  width: 100%;
}

table {
  width: 100%;
}

.hamburger {
  position: absolute;
  top: 16px;
  right: 16px;
  border-style: none;
  background-color: transparent;
}

.main__article {
  background: white;
}

.main__heading {
  color: blue;
  padding-left: 16px;
}

.notes__heading {
  padding-left: 16px;
}

#top {
  color: hotpink;
}

.header {
  background: transparent;
  position: fixed;
  min-width: 100%;
  top: 0px;

}

.navigation {
  background: transparent;
  padding: 16px;
  border-radius: 8px;
  justify-content: center;
  display: none;
}

.navigation__open{
  background: black;
  display: block;
}

.navigation__link {
  color: white;
  display: block;
  padding-bottom: 16px;
}

.navigation__link-homepage {
  color: rebeccapurple;
}

.week-summary {
  padding: 16px;
  margin-bottom: 8px;
  border: 2px solid black;
}

.week-summary:last-of-type {
  margin-bottom: 0;
}

.week-summary__title {
  color: brown;
}

.week-summary__description {
  color: #0012e7;
}

.main {
  max-width: 960px;
  margin: 0 auto;
}

.list {
  list-style: square;
}

@media (min-width: 768px) {
  .main {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 200px;
  }

  .navigation {
    background: #00e734;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }

  .hamburger {
    display: none;
  }
}
